// colors
$pink: #ec008a;
$pink-dark: #ca0068;
$grey: #242424;
$white: #ffffff;

// layout
$header-height: 90px;
$container-max-width: 1024px;
$container-width: 95%;

//breakpoints
$sm-width: 480px;
$md-width: 768px;
$lg-width: 1024px;

// animation
$easeOut: cubic-bezier(0.23, 1, 0.32, 1);
